.header-wrapper {
  min-height: 60px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  .logo{
    font-size: 30px;
    color: #1a1a1a;
    font-weight: 600;
    img {
    }
  }
  .right {
    margin-left: auto;
    padding: 0;
    list-style-type: none;
    li {
      margin-right: 15px;
      position: relative;
      cursor: pointer !important;
      &:last-child {
        margin-right: 0;
      }
      .count {
        position: absolute;
        right: -12px;
        top: -15px;
        width: 20px;
        height: 20px;
        font-size: 12px;
        background: green;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }
}
