.header-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 60px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
  .logo {
    font-size: 30px;
    color: cadetblue;
    font-weight: 600;
    img {
    }
  }
  .search-box{
    margin-left: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    height: 38px;
    display: flex;
    input{
      background: #fff;
      font-size: 14px;
      height: 37px;
      border: none;
      outline: none;
      padding: 0 15px;
      min-width: 400px;
      color: #1a1a1a;
      font-weight: 600;
      transition: .3s all ease-in-out;
      &::placeholder{
        opacity: .5;
      }
      &:not(:placeholder-shown){
        + button{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    button{
      display: none;
      font-weight: 600;
      height: 100%;
      border: none;
      padding: 0 10px;
      font-size: 12px;
      transition: .3s all ease-in-out;
      cursor: pointer !important;
      border-left: 1px solid #ccc;
    }
  }
  .right {
    margin-left: auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 30px;
      position: relative;
      cursor: pointer !important;
      color: cadetblue;
      font-weight: 600;
      font-size: 14px;
      &:last-child {
        margin-right: 0;
      }
      .count {
        position: absolute;
        right: -12px;
        top: -15px;
        width: 20px;
        height: 20px;
        font-size: 12px;
        background: cadetblue;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      &.switcher {
        display: flex;
        align-items: center;
        span {
          margin-right: 10px;
        }
        input[type='checkbox'] {
          display: none;
          &:checked {
            + label {
              .switch {
                background: #fff;
                border-color: #000;
                &::before {
                  right: 4px;
                  left: unset;
                  background: #1a1a1a;
                }
              }
            }
          }
        }
        label {
          .switch {
            width: 50px;
            height: 26px;
            background: #fff;
            border: 2px solid cadetblue;
            border-radius: 30px;
            position: relative;
            transition: 0.3s all ease-in-out;
            cursor: pointer !important;
            &::before {
              content: '';
              position: absolute;
              left: 4px;
              right: unset;
              top: 3px;
              width: 16px;
              height: 16px;
              background: cadetblue;
              border-radius: 50%;
              transition: 0.3s all ease-in-out;
              cursor: pointer !important;
            }
          }
        }
      }
    }
  }
  &.dark {
    background: #1a1a1a;
    color: #fff;
    div {
      color: #fff;
    }
    ul {
      li {
        color: #fff;
        .count {
          background: #fff;
          color: #1a1a1a;
        }
      }
    }
  }
}
